.container {
    background-color: #F7F7F7;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image {
    width: 50%;
}
.caption {
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: var(--COLOR-DARK);
    text-shadow: 0 0 24px var(--COLOR-LIGHT);
    transition: 0.3s ease-in-out all;
    padding-bottom: 3rem;
}
.title {
    font-size: 32px;
    font-weight: bolder;
}
.description {
    padding: 0 3rem;
}
.admin {
    position: absolute;
    bottom: 0;
}
@media (min-width: 600px) {
    .container {
        gap: 1rem;
    }
    .caption {
        gap: 1rem;
    }
    .title {
        font-size: 42px;
    }
    .description {
        font-size: 22px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 100%;
        padding: 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .title {
        font-size: 56px;
    }
}
