.container {
    padding: 0 1rem;
}
.mailbox {
    border-top: var(--COLOR-DARK) solid 2px;
}
.collapsed {
    display: none;
}
.expanded {
    display: none;
}
.mobileCollapsed {

}
.mobileExpanded {
    height: 100%;
}
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    padding: 0 1rem;
}
.button {
    display: flex;
    align-items: center;
}
.mobileCloseMessage {
    display: flex;
}
.back {
    font-size: 56px;
}
.create {
    cursor: pointer;
    position: absolute;
    left: 2%;
    font-size: 56px;
}
.links {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
}
.link {
    font-size: 28px;
    color: var(--COLOR-LIGHT);
    text-align: center;
    padding: 0 0.5rem;
}
.active {
    font-size: 28px;
    color: var(--COLOR);
    text-align: center;
    padding: 0 0.5rem;
}
.link:hover {
    color: var(--COLOR-ALT);
    cursor: pointer;
}
.empty {
    text-align: center;
}
@media (min-width: 450px) {
    .mailbox {
        display: grid;
        grid-template-columns: 2fr 5fr;
    }
    .create {
        font-size: 56px;
    }
    .links {
        display: flex;
        gap: 0.5rem;
    }
    .link {
        font-size: 36px;
    }
    .active {
        font-size: 36px;
    }
    .collapsed {
        display: block;
    }
    .expanded {
        display: block;
    }
    .mobileCollapsed {
        display: none;
    }
    .mobileExpanded {
        display: none;
    }
    .mobileCloseMessage {
        display: none;
    }
}
