.form {
    max-width: 380px;
    margin: 0 auto;
    padding: 1rem 0;
}
.table {
    margin: 0 auto;
    max-width: 600px;
}
.head {
    text-align: center;
    padding: 0.5rem 0;
}
.zipResult {
    font-weight: bold;
}
.tr {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    border-bottom: var(--COLOR-LIGHT) 2px solid;
}
.td {
    font-size: 24px;
    padding: 0.5rem 0;
}


@media (min-width: 600px) {
    .td {
        font-size:32px;
        padding: 1.5rem 0;
    }
}
