.root {

}

.infobar {
    display: block;
}
.main {
    width: 100vw;
}

.desktop {
    display: none;
}
.mobile {
    display: block;
}

@media (min-width: 450px){
    .infobar {
        display: none;
    }
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    .main {
        width: 100vw;
        max-width: 1120px;
        margin: 0 auto;
        height: 100vh;
    }
}