.desktop {
    display: none;
}
.mobile {
    display: block;
}
.main {
    padding: 1rem 1rem 5rem 1rem;
}
@media (min-width: 600px){
    .infobar {
        display: none;
    }
    .desktop {
        display: block;
    }
    .main {
        margin: auto;
        max-width: 1280px;
    }
    .mobile {
        display: none;
    }
}