.desktop {
    display: none;
}
.container {
    margin: auto;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.create {
    cursor: pointer;
    color: var(--COLOR-DARK);
    text-decoration: none;
}
.create:hover {
    color: var(--COLOR-ALT);
    cursor: pointer;
}
.mobile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 600px) {
    .desktop {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .mobile {
        display: none;
    }
    .options {
        padding:  3rem;
    }
}
@media (min-width: 800px) {
    .options {
        padding:  3rem;
    }
    .search {
        width: 360px;
    }
}
@media (min-width: 1200px) {
    .options {
        padding:  3rem;
    }
}

