.container {

}
.form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
}

.recipient {
    color: var(--COLOR-DARK);
}
.button {
    display: flex;
    gap: 1rem;
}

@media (min-width: 600px) {
    .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .button {
        gap: 3rem;
        padding: 0 3rem;
    }
}
