.edit {
    display: flex;
}
.buttons {
    display: flex;
}
.content {
    display: flex;
}
@media (min-width: 600px) {
    .address {

    }
    .addressLine1 {

        display: flex;
    }
    .addressLine2 {
        display: flex;
    }
}

@media (min-width: 800px) {
    .address {


    }
    .addressLine1 {

    }
}