.unit {
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 125px;
    gap: 2rem;
}
.image {
    width: 20%;
    height: 100%;
}
.address {
    
}
.addressLine1 {
    
}
.addressLine2 {
    display: none;
}
.actions {
    display: flex;
    gap: 1rem;
}
.addressActions {

}
@media (min-width: 450px) {
    .unit {
        margin: 1rem auto;
        padding: 1rem;
        display: flex;
        align-items: center;
        height: 200px;
    }
    .addressLine2 {
        display: block;
    }
    .addressActions {
        display: flex;
        gap: 1rem;
    }
}