.title {
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
    padding-top: 2rem;
    text-transform: capitalize;
}
.table {
    margin: 0 auto;
    width: 100%;
}

.head {
    text-align: center;
    padding: 0.5rem 0;
}
.tr {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--COLOR-LIGHT) 2px solid;
}
.td {
    padding: 0.5rem;
}

.addressCol {
    text-align: center;
    width: 30%;
    font-weight: bold;
}
.remove {
    padding-top: 3rem;
    font-size: 36px;
    color: darkred;
 }
.removeText {
    font-size: 16px;
}
.shaded {
    background-color: var(--COLOR-LIGHTER);
}
