.title {
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
    padding-top: 2rem;
    text-transform: capitalize;
}
.table {
    margin: 0 auto;
}

.head {
    text-align: center;
    padding: 0.5rem 0;
}
.tr {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--COLOR-LIGHT) 2px solid;
}
.td {
    font-size: 24px;
    padding: 0.5rem 0;
}
