.container {

}

.to {
    width: 180px;
}
.form {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
}
.buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

@media (min-width: 600px) {

}

@media (min-width: 800px) {

    .buttons {
        padding: 0 3rem;
    }
}
@media (min-width: 1200px) {
    .buttons {
        padding: 0 6rem;
    }
}