.message {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    border-top: var(--COLOR-DARK) solid 2px;
    padding: 1.4rem 0;
}
.flagRead {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 12%;
    font-size: 20px;
}
.senderDate {
    display: flex;
    justify-content: space-between;
}

.sender {
    font-weight: bolder;
}

.body {
    font-weight: lighter;
    font-size: 14px;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    width: 99%;

}
.date {
    display: block;
    font-weight: lighter;
    position: absolute;
    right: 0.3rem;
}

@media (min-width: 450px) {
    .message {
        display: flex;
        gap: 1rem;
        border-top: var(--COLOR-DARK) solid 2px;
        padding: 1.4rem .03rem;
    }
    .message:hover {
        background-color: var(--COLOR-DARK);
    }
    .senderDate {
        display: flex;
        gap: 3rem;
        overflow: hidden;
    }
    .sender {
        font-size: 14px;
    }

    .date {
        font-size: 12px;
    }
    .flagRead {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}