.message {

    height: 100%;
    padding: .8rem .3rem;
}
.mobileCloseMessage {

}
.prevMessage {

}

.senderDate {
    display: flex;
    justify-content: space-between;
}

.subjectFlag {
    display: flex;
}
.date {

}
.flag {

}
.messageData {

}
.sender {

}

.recipient {

}

.subject {
    font-weight: bold;
}

.body {

}

@media (min-width: 450px) {
    .message {

        height: 100vh;
        position: sticky;
        top: 70px;
        padding: 1.4rem 2rem;
    }
}