.container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0.5rem 0;
    border-top: 1px solid var(--COLOR-DARK);
}
.alerts {
    position: relative;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 20px;
    font-size: 20px;
}
.replied {
    position: absolute;
    top: 0;
}
.read {
    position: absolute;
    color: dodgerblue;
}
.flag {
    position: absolute;
    bottom: 0;
    color: darkorange;
}
.senderDate {
    display: flex;
    justify-content: space-between;
}
.sender {
    font-weight: bolder;
}
.subject {
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
}
.body {
    font-weight: lighter;
    font-size: 14px;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    width: 99%;
}
.date {
    display: block;
    font-weight: lighter;
    position: absolute;
    font-size: 14px;
    right: 0.3rem;
}

@media (min-width: 450px) {
    .container {
        gap: 1rem;
    }
    .container:hover {
        background-color: var(--COLOR-LIGHTER);
    }
    .senderDate {
        display: flex;
        gap: 3rem;
        overflow: hidden;
    }
    .sender {
        font-size: 14px;
    }
    .date {
        font-size: 12px;
    }
    .alerts {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}