.infoBar {
    display: flex;
    position: fixed;
    top: 0;
    background: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1px 20px;
    z-index: 20;
    text-align: center;
    font-family: "pastiche-brush", sans-serif;
}


.title {
    color: var(--COLOR-ALT);
    font-weight: bold;
}

.logout {

}