{/* mobile display */}

.container {
    position: fixed;
    bottom: 0;
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 46px;
    background-color: var(--COLOR-DARK);
    z-index: 20;
}

.link {
    background-color: var(--COLOR-DARK);
    color: var(--COLOR-LIGHT);
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.active {
    background-color: var(--COLOR-LIGHTER);
    color: var(--COLOR);
}



