:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --COLOR-LIGHT: #B0A8B9;
  --COLOR: #845EC2;
  --COLOR-ALT: #FF8066;
  --COLOR-DARK: #4B4453;
  --COLOR-GRADIENT: radial-gradient(var(--COLOR), var(--COLOR-LIGHT));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pastiche-brush", sans-serif;
  max-width: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  padding: 4rem 0;
  display: flex;
  background: linear-gradient(to right, #434343 0%, black 100%);
  max-width: 1120px;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 450px) {
  body {
    margin: 0 auto;
    display: flex;
    background: linear-gradient(to right, #434343 0%, black 100%);
    padding: 6rem 0 5rem 0;
    width: 100%;
    height: auto;

  }
}
