:root {
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #242424;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --COLOR-LIGHT: #B0A8B9;
  --COLOR: #845EC2;
  --COLOR-ALT: #FF8066;
  --COLOR-DARK: #4B4453;
  --COLOR-GRADIENT: radial-gradient(var(--COLOR), var(--COLOR-LIGHT));
}
* {
  box-sizing: border-box;
  font-family: Dogpatch, sans-serif;
}
*, :after, :before {
  box-sizing: inherit;

}
html {
  font-family: Dogpatch, sans-serif;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  line-height: 20px;
  scroll-padding: 120px 0 0;
}
body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  display: block;
  color: #424242;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 450px) {
  body {
    line-height: 20px;
    scroll-padding: 120px 0 0;
    -webkit-font-smoothing: antialiased;
  }
}

textarea {
  font-size: 16px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #bcccdc;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

