.unit {
    align-items: center;
}
.image {
    width: 25%;
}
.address {

}
.addressLine1 {

}
.addressLine2 {

}
.actions {
    display: flex;
    width: 25%;
    gap: 1rem;
}

@media (min-width: 450px) {

}