.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.btn {
    margin: auto;
    width: 125px;
}