.container {

}
.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.name, .contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.name {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
}