.container {
    width: 80%;
    margin: auto;
}
.form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
}
.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.buttons {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    margin: auto;
    width: 40%;
}
