.container {
    background-color: #F7F7F7;
    grid-template-columns: 1fr 1fr;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    height: 720px;
    padding: 72px;
}
.content {
    justify-content: space-around;
    align-items: center;
}

.auth {

}

.element {
    display: none;
}
.text {
    position: absolute;
    bottom: 15%;
    font-weight: bolder;
    text-align: center;
    color: var(--COLOR-ALT);
    border: transparent;
    border-radius: 8px;
    padding: 0 8px;
    margin: auto;
    text-shadow: 0 0 24px var(--COLOR-LIGHT);
    transition: 0.3s ease-in-out all;
    z-index: 10;

}


.image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: calc(100vw) calc(100vh);
    -moz-background-size: calc(100vw) calc(100vh);
    -o-background-size: calc(100vw) calc(100vh);
    background-size: calc(100vw) calc(100vh);
}

@media (min-width: 480px) {
    .element {
        display: none
    }
    .text {
        width: 100%;
        position: relative;
    }
    .image {
        height: 100%;
    }
    .content {
        display: flex;
    }

}