.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.content {
    margin: 0 1rem;
}
.links {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.link {
    font-size: 18px;
    color: var(--COLOR-ALT);
}
.active {
    color: var(--COLOR-DARK);
    font-weight: 800;
}
.link:hover {
    color: var(--COLOR-ALT);
    cursor: pointer;
}
.unit {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.forms {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
}
@media (min-width: 600px) {
    .link {
        font-size: 24px;
    }
}

@media (min-width: 800px) {
    .container {
        gap: 2rem;
    }
    .head {
        display: block;
    }
    .unit {
        font-size: 32px;
        font-weight: bolder;
        text-align: center;
    }
    .link {
        font-size: 28px;
    }
}
