.container {
    display: flex;
    flex-direction: column;
}
.create {
    display: none;
}
.title {
    margin: 1rem auto;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
}
.search {
    margin: 0 1rem;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 0;
}
.year {
    padding-left: 1rem;
}
.button {
    margin: 1rem auto;
}
.links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 16px;

}
.link {
    color: var(--COLOR-LIGHT);
    text-decoration: none;
}
.link:hover {
    color: var(--COLOR-ALT);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.active {
    color: var(--COLOR-DARK);
}

@media (min-width: 550px) {
    .form {
        padding: 2rem 5rem;
    }
}

@media (min-width: 800px) {
    .searchContainer {
        height: 460px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }
    .links {
        display: flex;
        gap: 0.5rem;
        padding: 2rem 0;
    }
    .link {
        font-size: 22px;
    }
    .active {
        font-size: 22px;
    }
    .create {
        display: block;
    }
    .form {
        padding: 0;
    }
    .formMobile {
        display: none;
    }

}