.card {
    padding: 1rem;
    color: var(--COLOR-LIGHT);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease-in-out all;
    border-radius: 0.25rem;
    z-index: 20;
    background-color: white;
    height: 100%;
}
.card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media (min-width: 480px) {
    .card {
        padding: 2rem;
    }
}


