.container {

}

.title {
    font-family: "pastiche-brush", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
}
.content {


}

@media (min-width: 450px) {
}