.container {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.label {
    text-transform: capitalize;
}
.select {
    font-size: 24px;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #bcccdc;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media (min-width: 480px) {
    .select {
        height: 3rem;
        font-size: 20px;
    }
}