.input {

}

.label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.inputArea {
    font-size: 24px;
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #bcccdc;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media (min-width: 450px) {
    .inputArea {
        height: 3rem;
        font-size: 20px;
    }
}