.title {
    margin: 0 auto;

    font-weight: 800;
    font-size: 32px;

    padding: 2rem;
    text-transform: capitalize;
}
.content {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
.table {
    color: var(--COLOR-DARK);
}
.actions {
    position: relative;
    display: flex;
    color: var(--COLOR-DARK);
}
.link {
    position: absolute;
    right: 0;
}
.link:hover {
    cursor: pointer;
}
@media (min-width: 600px) {
    .content {
        font-size: 20px;
    }

}