.container {

}
.content {
    font-size: 12px;
    padding: 2rem;
}

.table {
    color: var(--COLOR-DARK);
    margin: 0 auto;
}
.details {

}
@media (min-width: 600px) {
    .content {
        font-size: 20px;
    }
    .th {
        display: block;
        font-size: 20px;
        padding-bottom: 1rem;
        text-align: center;
    }
    .tr {
        display: flex;
        gap: 4rem;
        justify-content: space-between;
        border-bottom: var(--COLOR-LIGHT) 2px solid;
    }

}

@media (min-width: 800px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 6rem;
        align-items: center;
    }
    .details {
        display: flex;
    }

}