.title {
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
    padding-top: 2rem;
    text-transform: capitalize;
}

.search {
    padding: 1rem 2em;
    gap: 0.3rem;
    align-items: center;
}


table {
    margin: 0 auto;
}

th {
    display: none;
}

td {
    font-style: normal;
    font-size: 16px;
    padding: 0.5rem 0;
}
tr {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    border-bottom: var(--COLOR-LIGHT) 2px solid;
}

@media (min-width: 450px) {
    .search {
        padding: 4rem 12rem;
    }
    th {
        display: block;
        font-weight: 800;
        font-size: 20px;
        line-height: 1;
        padding-bottom: 2rem;
        text-align: center;
    }
    td {
        font-style: normal;
        font-size: 28px;
        padding: 2rem 0;
    }

}