.unitsPage {
    display: flex;
    flex-direction: column;

}
.unitContainer {

}
.unit:nth-child(odd) {
    background-color: #213547;
}
.button {
    width: 150px;
}

@media (min-width: 450px) {
    .unitsPage {
        padding: 1rem;
    }

}

